<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="net.Gruppe.Main" />
    <module name="jUNO" />
    <option name="PROGRAM_PARAMETERS" value="-d" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>